APP_NAME=Portfolio
APP_KEY=base64:2dv+g+xKbGTNfAFeJSvErPQekoN5XHXV/QE9q7yF4y0=
APP_ENV=local
APP_DEBUG=true
APP_URL=https://snmleathers.com
ASSET_URL=https://snmleathers.com
PUBLIC_URL=https://snmleathers.com
APP_TIMEZONE=Asia/Dhaka
APP_LANGUAGE=en

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=portfolio
DB_USERNAME=root
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=17c37b9deb7265
MAIL_PASSWORD=df66a1867d88b6
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=contact@anichur.com
MAIL_FROM_NAME="${APP_NAME}"
MAIL_SUPPORT_ADDRESS=contact@anichur.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

LOG_VIEWER_ENABLED=true
LOG_VIEWER_CACHE_DRIVER=file
TELESCOPE_ENABLED=true

ACTIVITY_LOGGER_ENABLED=true


# Set these up at https://github.com/settings/applications/new
GITHUB_CLIENT_ID = 118677ef4d83529a2784
GITHUB_CLIENT_SECRET = 2ed39c27dd280d4cf0f423b72d80dc7e64d62e4b
GITHUB_REDIRECT_URL=https://snmleathers.com/login/github/callback

# Set these up at https://console.developers.google.com/
GOOGLE_CLIENT_ID=760740373261-7o2q2rbfajmd1mgmknifrgopusvb1cdr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YqAUefAc3ipE65x8qotC9h5d
GOOGLE_REDIRECT_URL=https://snmleathers.com/login/google/callback
GOOGLE_AUTH_URL =

# Set these up at https://developers.facebook.com/
FACEBOOK_CLIENT_ID=4016694658391519
FACEBOOK_CLIENT_SECRET=bfab2bbc8585727e85a32998860e88ea
FACEBOOK_REDIRECT_URL=https://snmleathers.com/login/facebook/callback

# Set these up at https://www.linkedin.com/developers/apps/
LINKEDIN_CLIENT_ID=***************************
LINKEDIN_CLIENT_SECRET=*******************
LINKEDIN_REDIRECT_URL=https://snmleathers.com/login/linkedin/callback

# Set these up at https://apps.twitter.com/
TWITTER_CLIENT_ID=*******************
TWITTER_CLIENT_SECRET=********************
TWITTER_REDIRECT_URL=https://snmleathers.com/login/twitter/callback

INSTAGRAM_CLIENT_ID=*********************
INSTAGRAM_CLIENT_SECRET=**********************
INSTAGRAM_REDIRECT_URI=https://snmleathers.com/8login/instagram/callback
